name: Playwright Tests

on:
  push:
    branches: [ "**" ]
  schedule:
    - cron: '40 20 * * *'  

  workflow_dispatch:  

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Checkout web app repository
        uses: actions/checkout@v4
        with:
          repository: sarav-salesforce/web-app-test-automation
          path: web-app

      - name: Install web app dependencies
        working-directory: web-app
        run: npm ci

      - name: Start Web App server
        working-directory: web-app
        run: |
          npm start &
          echo $! > web-app-server.pid
          npx wait-on http://localhost:3000    

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        env:
          CI: true 
        run: npx playwright test

      - name: Upload Playwright test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-test-results
          path: playwright-report/
          retention-days: 30  